# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.egg-info/

# Node
node_modules/
.next/
pnpm-lock.yaml
dist/

# Env
.env
.DS_Store

# Database
*.db

# Docker
**/.dockerignore

# TypeScript build info
*.tsbuildinfo
