.[api,extractor,scheduler,worker]
# Development and testing tools
pip-tools
pytest
pytest-cov
pytest-mock
pytest-env
factory-boy
pydantic-factories
coverage
testcontainers
black
isort
ruff
freezegun
pytest-socket
