http://sidetrack.network {
  redir https://sidetrack.network{uri}
}

sidetrack.network {
  tls admin@sidetrack.network
  encode gzip
  handle_path /api/* {
    reverse_proxy api:8000
  }
  handle /* {
    reverse_proxy ui:3000
  }
}
